<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>About Us - CodeX</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/Logo.jpeg" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/">CodeX</a></h1>
       <a href="/" class="logo me-auto"><img src="/img/Logo.jpeg" alt="" class="img-fluid"></a>

     
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="active" href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <!-- li><a href="courses">Courses</a></li> -->
          <li><a href="/trainers">Meet the Team</a></li>
          <li><a href="/Timeline">Timeline</a></li>
        
          <li><a href="/Competitions">Competitions</a></li>
         
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="/contact" class="get-started-btn">Sign Up</a>

    </div>
  </header><!-- End Header -->

  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>About Us</h2>
        <p>Our Mission</p>
      </div> 

    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="https://www.istudyabroad.co.in/wp-content/uploads/2020/10/business-people-working-laptop-development_1262-18907.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            
            <h3><em><strong><i>“First, solve the problem. Then, write the code.” </i></strong></em></h3>
            <p class="fst-italic">
              - John Johnson
            </p>
          
            <p>
           <br>

              CodeX is an Inter-school coding competition for grades 9 to 12. It consists of two categories- Website development and programming. The eligible programming languages for the competition are Python, Java, C++ and Qalb(For Arabic programming).<br>
              
              With so many coding/programming competitions out there, what makes us unique?<br>
              1. The integration of Qalb, an Arabic programming language, so as to enable more people to participate.<br>
              2. The inclusion of a Website Development category.<br>
              3. A number of interactive programming workshops with engineers from companies like Google and Microsoft.
            <br>
              
              The aim of this competition is to ignite the passion for computer science among students by allowing them to explore the wonderful art of competitive programming and to develop their problem-solving skills which will come in handy outside the coding world.<br>
              
              We hope to see you there!
              
            </p>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>CodeX</h3>
            <p>
              Nad Al Sheba 3<br>
              Dubai<br>
              United Arab Emirates <br><br>
              <strong>Phone:</strong> +971 55 226 3135<br>
              <strong>Email:</strong> <A HREF="mailto:codexgma@gmail.com"> CodeXGMA@gmail.com</A> <br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/about">About</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/trainers">Meet the Team</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/Timeline">Timeline</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/Competitions">Competitions</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/contact">Sign Up</a></li>
          
            </ul>
          </div>


        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>CodeX </span></strong>2021. All Rights Reserved.
        </div>
        <div class="credits">
       
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
       <!--  <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a> -->
        <a href="https://www.instagram.com/codex_competition" class="instagram"><i class="bx bxl-instagram"></i></a>
        <!-- <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a> -->
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/vendor/aos/aos.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>
  <script src="/vendor/purecounter/purecounter.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="/js/main.js"></script>

</body>

</html>