<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Sign Up - CodeX</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/Logo.jpeg" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">

  
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/index">CodeX</a></h1>
      
      <a href="/index" class="logo me-auto"><img src="/img/Logo.jpeg" alt="" class="img-fluid"></a>
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="active" href="/index">Home</a></li>
          <li><a href="/about">About</a></li>
          <!-- li><a href="courses">Courses</a></li> -->
          <li><a href="/trainers">Meet the Team</a></li>
          <li><a href="/Timeline">Timeline</a></li>
          <!-- <li><a href="pricing">Pricing</a></li> -->

          <li><a href="/Competitions">Competitions</a></li>
  
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="/contact" class="get-started-btn">Sign Up</a>

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Sign Up</h2>
        <p>Fill up the form below to register for CodeX 2021! </p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
     
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd0ca0oYmAPuQD9uKtZlFZiZfJWeMA5xISB_S0B0P3c8JfIFA/viewform?embedded=true" width="1363px" height="823px" frameborder="0" marginheight="0" marginwidth="0" id="google-form">Loading…</iframe>
     
      <div class="container" data-aos="fade-up">

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Nad Al Sheba 3, Dubai, United Arab Emirates.</p>
              </div>

              <div class="email">
                <A href="mailto:codexgma@gmail.com"><i class="bi bi-envelope"></i></A>
                <h4>Email:</h4>
                <p><a href="mailto:codexgma@gmail.com">CodeXgma@gmail.com</a></p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+971 55 226 3135</p>
              </div>

            </div>

          </div>


        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>CodeX</h3>
            <p>
              Nad Al Sheba 3<br>
              Dubai<br>
              United Arab Emirates <br><br>
              <strong>Phone:</strong> +971 55 226 3135<br>
              <strong>Email:</strong> <A HREF="mailto:codexgma@gmail.com"> CodeXGMA@gmail.com</A> <br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/index">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="about">About</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/trainers">Meet the Team</a></li>

              <li><i class="bx bx-chevron-right"></i> <a href="/Timeline">Timeline</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/Competitions">Competitions</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/contact">Sign Up</a></li>
            </ul>
          </div>

        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
       <!--  <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a> -->
        <a href="https://www.instagram.com/codex_competition" class="instagram"><i class="bx bxl-instagram"></i></a>
        <!-- <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a> -->
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/vendor/aos/aos.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>
  <script src="/vendor/purecounter/purecounter.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="/js/main.js"></script>

</body>

</html>