<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Timeline - CodeX </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/Logo.jpeg" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">

 
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/">CodeX</a></h1>
     

      <a href="/" class="logo me-auto"><img src="/img/Logo.jpeg" alt="" class="img-fluid"></a>

     
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="active" href="/">Home</a></li>
          <li><a href="about">About</a></li>
       
          <li><a href="trainers">Meet the Team</a></li>
          <li><a href="Timeline">Timeline</a></li>
         
          <li><a href="Competitions">Competitions</a></li>
   
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="contact" class="get-started-btn">Sign Up</a>

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Timeline</h2>
    <p>This is a timeline of events for CodeX 2021!</p>
      </div>
    </div><!-- End Breadcrumbs -->
    <!-- Timeline from Code pen -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
  

    <!-- TIMELINE 2 START -->
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="main-timeline">
            <div class="timeline">
              <a href="#" class="timeline-content">
                <span class="timeline-year">1<sup>st</sup> October</span>
                <div class="timeline-icon">
                  <i class="fa fa-rocket" aria-hidden="true"></i>
                </div>
                <div class="content">
                  <h3 class="title">Registrations open</h3>
                  <p class="description">
                    Registrations for CodeX 2021 begin, for both the <strong>Web Development Challenge</strong> and the <strong>Problem Solving Challenge</strong>!
                  
                  </p>
                </div>
              </a>
            </div>
            <div class="timeline">
              <a href="#" class="timeline-content">
                <span class="timeline-year">11<sup>th</sup> October</span>
                <div class="timeline-icon">
                  <i class="fa fa-users" aria-hidden="true"></i>
                </div>
                <div class="content">
                  <h3 class="title">Registrations close</h3>
                  <p class="description">
                   Registrations for CodeX 2021 have concluded. All participants will receive a confirmation 3-5 business days after the registration period has concluded.
                  </p>
                </div>
              </a>
            </div>
            <div class="timeline">
              <a href="#" class="timeline-content">
                <span class="timeline-year">15<Sup>th</Sup> October</span>
                <div class="timeline-icon">
                  <i class="fa fa-cog" aria-hidden="true"></i>
                </div>
                <div class="content">
                  <h3 class="title">Workshops</h3>
                  <p class="description">
                    An educational workshop will be hosted, featuring employees of tech giants like Google and Microsoft! These will take place from 1:00am to 10:pm. Participants will be given details privately.
          
                 
                  </p>
                </div>
              </a>
            </div>
            <div class="timeline">
              <a href="#" class="timeline-content">
                <span class="timeline-year">6<sup>th</sup> December</span>
                <div class="timeline-icon">
                  <i class="fa fa-heart" aria-hidden="true"></i>
                </div>
                <div class="content">
                  <h3 class="title">Competition begins!</h3>
                  <p class="description">
                    Questions will be released for the <strong>Website Development Challenge</strong> and the <strong>Problem Solving Competition</strong>. The solutions to the <strong>Problem Solving Competition</strong> are to be submitted on this day itself.
                  </p>
                </div>
              </a>
            </div>
            <div class="timeline">
              <a href="#" class="timeline-content">
                <span class="timeline-year">10<sup>th</sup> December</span>
                <div class="timeline-icon">
                  <i class="fa fa-globe" aria-hidden="true"></i>
                </div>
                <div class="content">
                  <h3 class="title">Submission - Web Development Challenge</h3>
                  <p class="description">
                    The solutions to the Website Development Challenge are to be submitted by 16:00pm(GMT+4). The solutions will then be evaulted and points will be tallied.
                  </p>
                </div>
              </a>
            </div>
            <div class="timeline">
              <a href="#" class="timeline-content">
                <span class="timeline-year">15<sup>th</sup> December</span>
                <div class="timeline-icon">
                  <i class="fa fa-apple" aria-hidden="true"></i>
                </div>
                <div class="content">
                  <h3 class="title">Results day!</h3>
                  <p class="description">
                   The results for both competitions will be announced, and the prizes will be distributed. The closing ceremony will then take place. 
                  </p>
                </div>
              </a>
            </div>
            <!-- <div class="timeline">
              <a href="#" class="timeline-content">
                <span class="timeline-year">2017</span>
                <div class="timeline-icon">
                  <i class="fa fa-edit" aria-hidden="true"></i>
                </div>
                <div class="content">
                  <h3 class="title">Creapure</h3>
                  <p class="description">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                  </p>
                </div>
              </a>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <!-- TIMELINE 2 END -->
    <!-- ======= Timeline Section ======= -->
    <section id="events" class="events">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card">
              <div class="card-img">
           
              </div>
            </div>
    
          <!--   <p id="Timeline_Paragraph" style="margin-bottom: 3em;">This is a timeline of the events of CodeX 2021:<br><br<br><strong>September 20<sup>th</sup></strong>: Registrations open<br>
              <strong>December 5<sup>th</sup></strong>: Registrations close, Opening Ceremony takes place<br>
              <strong>December 6<sup>th</sup></strong>: Google Workshop<br>
              <strong>December 7<sup>th</sup></strong>: Microsoft Workshop<br>
              <strong>December 8<sup>th</sup></strong>: Questions released for the <strong>Website Development Challenge</strong> and the <strong>Problem Solving Competition</strong>. The solutions to the <strong>Problem Solving Competition</strong> are to be submitted on this day itself.<br>
              <strong>December 8<sup>th</sup></strong> - <strong>December 11<sup>th</sup></strong>: Evaluation of solutions to the <strong>Problem Solving Competition</strong>.<br>
              <strong>December 12<sup>th</sup></strong>: Submission date for the <strong>Website Development Challenge</strong>.<br>
              <strong>December 12<sup>th</sup></strong> - <strong>December 15<sup>th</sup></strong>: Judging of the <strong>Website Development Challenge</strong>.<br>
              <strong>December 16<sup>th</sup></strong>: Announcement of results and closing ceremony.<br>
            </p> -->
          </div>
          <div class="col-md-6 d-flex align-items-stretch">
 
              </div>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Events Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>CodeX</h3>
            <p>
              Nad Al Sheba 3<br>
              Dubai<br>
              United Arab Emirates <br><br>
              <strong>Phone:</strong> +971 55 226 3135<br>
              <strong>Email:</strong> <A HREF="mailto:codexgma@gmail.com"> CodeXGMA@gmail.com</A> <br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="about">About</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="trainers">Meet the Team</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="Timeline">Timeline</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="Competitions">Competitions</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="contact">Sign Up</a></li>
          
            </ul>
          </div>


        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>CodeX </span></strong>2021. All Rights Reserved.
        </div>
        
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
       
        <a href="https://www.instagram.com/codex_competition" class="instagram"><i class="bx bxl-instagram"></i></a>
       
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/vendor/aos/aos.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>
  <script src="/vendor/purecounter/purecounter.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="/js/main.js"></script>

</body>

</html>